:root {
  --green: #1ec6b6;
  --light-grey: #f7f7f7;
  --dark: #0e1010;
  --trans: all 0.3s ease-in-out;
  font-family: "Open Sans";
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  padding: 1rem 0;
  z-index: 999;
}

.navBar > .container {
  justify-content: space-between;
}

.brand {
  color: white;
  font-size: 2.4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  opacity: 0.95;
}

.brand > span {
  font-weight: 100;
}

.hamburger,
.close-navBar > .bx-x {
  font-size: 2rem;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
  transition: var(--trans);
}

.hamburger:hover,
.close-navBar > .bx-x:hover {
  opacity: 1;
  font-size: 2.3rem;
}

#navBar-collapse {
  background-color: var(--green);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  padding: 1rem;
  transform: translateX(100%);
  transition: var(--trans);
}

.navBar-collapse-rmw {
  transform: translateX(0) !important;
}

.close-navBar > .bx-x {
  font-size: 2rem;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
  transition: var(--trans);
  position: absolute;
  right: 1rem;
  top: 2rem;
}

.navBar-nav {
  margin: 5rem;
}

.navBar-nav > .navBarItem {
  margin: 1.6rem 0;
}

.navLink {
  color: #fff;
  font-size: 1.2rem;
  transition: var(--trans);
}

.navLink:hover {
  opacity: 0.8;
}

/* Change background on scroll */

.navBar-cng {
  background-color: #fff;
  box-shadow: 0 4px 5px rgba(48, 48, 48, 0.2);
  transform: var(--trans);
}
.navBar-cng .brand {
  color: var(--dark);
}
.navBar-cng .brand > span {
  color: var(--green);
}
.navBar-cng .hamburger {
  color: var(--green);
}
/* Header Styling Start */
/* header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-grey);
  background: transparent;

  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  transition: ease 0.4s;
}

header.sticky {
  background: white;
  height: fit-content;
  border: 1px solid red;
  box-shadow: rgba (33, 35, 38, 0.1), rgb(0px 10px 10px -10px);
}
.container {
  position: fixed;
  top: 0;
  width: 80%;
  max-width: 900px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 10px;
  transition: ease 0.4s;
}

.container > .logo > a > span {
  font-weight: 100;
}

.logo {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--bg-color);
}

nav ul {
  display: flex;
}

nav > ul > li > a {
  color: var(--bg-color);
  font-size: var(--p-font);
  font-weight: 500;
  padding: 10px 22px;
  border-radius: 4px;
  transition: ease 0.4s;
}
nav > ul > li > a:hover {
  background: var(--light-grey);
  color: var(--dark);
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  border-radius: 4px;
}

#navBar-bg {
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(48, 48, 48, 0.2);
  z-index: 10;
} */

#menu-icon {
  color: var(--bg-color);
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  /* display: none; */
}
.close-menu-icon {
  color: var(--bg-color);
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  /* display: none; */
}

/* Header Styling End */

/* Hero Section Styling Start */
.hero {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.45)),
    urL(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding-block-start: 130px;
}

.hero > .wrapper > .title {
  font-weight: bold;
  margin-block-end: 30px;
}

.hero > .wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero > .wrapper > p {
  width: auto;
  margin-block-end: 30px;
  line-height: 1.8;
}

.hero > .wrapper > .hero-form {
  padding: 50px;
  /* width: 700px; */
  background: rgba(0, 0, 0, 0.65);
}

.hero > .wrapper > .hero-form > form > .form-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero > .wrapper > .hero-form > form > .form-input input,
.hero > .wrapper > .hero-form > form > .form-input > button {
  padding: 6px 12px;
}

.hero > .wrapper > .hero-form > form > .form-input > input {
  background: transparent;
  border: 1px solid var(--light-grey);
  color: var(--light-grey);
}

.hero > .wrapper > .hero-form > form > .form-input > button {
  background: var(--green);
  border: none;
  color: var(--light-grey);
}
/* Hero Section Styling End */

/* Featured Places Styling Start */
/* .featured-places > .wrapper > h3,
.featured-places > .wrapper > h2,  */
.featured-places > .wrapper {
  margin-block: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.featured-places > .wrapper > h3 {
  color: var(--light-grey);
  width: 40ch;
  text-align: center;
}

.featured-places > .wrapper > .row-items {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, auto));
  display: grid;
  gap: 1rem;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.featured-places > .wrapper > .row-items > .box-card {
  background: var(--bg-color);
  border: 1px solid #f0eded;
  /* padding: 10px 10px; */
  border-radius: 4px;
  transition: all 1s ease 0.1s;
  cursor: pointer;
}

.featured-places > .wrapper > .row-items > .box-card:hover {
  box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
  border: 1px solid transparent;
  transform: translateY(-3px);
}

.featured-places > .wrapper > .row-items > .box-card > img {
  width: 100%;
}
/* Featured Places Styling End */

/* Services Start */
.services {
  width: 100vw;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.95)),
    urL(../images/services-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  text-align: center;
  color: #fff;
}

.services > .wrapper-outer > .service-items {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(1, 1fr);
}
.services > .wrapper-outer > .service-items > .service-item {
  line-height: 1.6;
  text-align: center;
}
.services > .wrapper-outer > .service-items > .service-item > p {
  text-align: justify;
}
.services > .wrapper-outer > .service-items > .service-item > h3 {
  color: var(--light-grey);
}
.services > .wrapper-outer > .service-items > .service-item > button {
  padding: 6px 24px;
  background: var(--green);
  border: none;
}
/* Services End */

/* Testimonial Styling Start */
.testimonials {
  width: 100vw;
  height: auto;
  padding: 6rem 0;
  /* background: rgba(175, 229, 254, 1.164); */
  background: rgba(175, 229, 254, 0.164);
  /* border: 2px solid red; */
}

.testimonial-group {
  text-align: center;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.testimony {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  line-height: 1.7;
  width: 70%;
}

.testimony > p {
  background: rgb(255, 255, 255);
  padding: 50px 20px;
  position: relative;
  text-align: center;
}
.testimony > p::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  bottom: -60px;
  left: -190px;
  rotate: 45deg;
  z-index: 10;
  display: none;
  /* border: 1px solid black; */
  background: rgb(255, 255, 255);
}

.testimony-teller {
  display: flex;
  margin: 10px 30px;
  justify-content: center;
  align-items: center;
}
.testimony-teller > .profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-inline-end: 10px;
}
.testimony-teller > .profile-pic > img {
  width: 100%;
  border-radius: 40px;
}
/* Testimonial Styling End */

/* Video Section Styling Start */
.video-section {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Centering the play button */
video::-webkit-media-controls-start-playback-button {
  display: none !important;
}

.video-section:before {
  content: "\25BA"; /* Unicode character for the "play" symbol */
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
/* Video Section Styling End */

/* Footer Styling Starts */
footer {
  background: var(--dark);
  color: var(--light-grey);
  line-height: 2;
}
footer > .wrapper {
  /* width: 1600px; */
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > .wrapper > .copyright {
  margin-block-end: 50px;
}

footer > .wrapper > .copyright > h4 > span {
  font-weight: 100;
  font-family: "Raleway";
}

.footer-items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
  padding: 60px 50px;
}

.footer-item > span > i {
  width: 50px;
}

.footer-items > .footer-item > form {
  width: 200px;
}
.footer-items > .footer-item > form > * {
  width: 100%;
  padding: 4px 12px;
}
.footer-items > .footer-item > form > input {
  background: none;
  border: 1px solid var(--light-grey);
  margin-bottom: 6px;
}
.footer-items > .footer-item > form > button {
  width: 100%;
  background: var(--green);
  color: var(--light-grey);
  border: none;
}

.footer-items > .footer-item > ul {
  list-style: none;
}
.footer-items > .footer-item > ul > li {
  list-style: none;
}
.footer-items > .footer-item > .logo > a {
  margin-bottom: 50px;
}

/* Footer Styling Ends */
